/target
.DS_Store
/cipherstash-proxy.toml
/cipherstash-proxy.local.toml
mise.local.toml
tests/pg/data**
tests/sql/cipherstash-encrypt.sql
tests/sql/cipherstash-encrypt-uninstall.sql
.vscode

rust-toolchain.toml
.cargo/config.toml

# release artifacts
/cipherstash-proxy
/cipherstash-eql.sql
/packages/cipherstash-proxy/eql-version-at-build-time.txt

# credentials for local dev
.env.proxy.docker
