name: Benchmark Proxy
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

permissions:
  # deployments permission to deploy GitHub pages website
  deployments: write
  # contents permission to update benchmark contents in gh-pages branch
  contents: write

jobs:
  benchmark:
    name: Performance regression check
    runs-on: blacksmith-16vcpu-ubuntu-2204
    env:
      CS_ZEROKMS_HOST: https://us-east-1.aws.zerokms.cipherstashmanaged.net
      CS_CTS_HOST: https://ap-southeast-2.aws.cts.cipherstashmanaged.net

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-test

      - name: Decrypt secrets
        uses: cipherstash/secrets-action@main
        with:
          secrets-file: .github/secrets.env.encrypted
        env:
          CS_CLIENT_ID: ${{ secrets.CS_VAULT_CLIENT_ID }}
          CS_CLIENT_KEY: ${{ secrets.CS_VAULT_CLIENT_KEY }}
          CS_CLIENT_ACCESS_KEY: ${{ secrets.CS_VAULT_CLIENT_ACCESS_KEY }}
          CS_WORKSPACE_CRN: ${{ secrets.CS_VAULT_WORKSPACE_CRN }}

      - run: |
          mise run postgres:up --extra-args "--detach --wait"

      - name: Run benchmark
        working-directory: tests/benchmark
        env:
          RUST_BACKTRACE: "1"
        run: mise run benchmark:continuous

      # Download previous benchmark result from cache (if exists)
      - name: Download previous benchmark data
        uses: actions/cache@v4
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark

      # Run `github-action-benchmark` action
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          # What benchmark tool the output.txt came from
          tool: 'customBiggerIsBetter'
          # Where the output from the benchmark tool is stored
          output-file-path: tests/benchmark/results/output.json

          github-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-alert: true
          comment-on-alert: true
          summary-always: true
          auto-push: true
          benchmark-data-dir-path: docs

      - uses: ./.github/actions/send-slack-notification
        with:
          channel: engineering
          webhook_url: ${{ secrets.SLACK_NOTIFICATION_WEBHOOK_URL }}
