name: Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: blacksmith-16vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-test

      - name: Load secrets
        uses: 1password/load-secrets-action@v3
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          OP_ENV_FILE: .github/secrets.env.tpl

      - run: |
          mise run postgres:up --extra-args "--detach --wait"

      - name: Run tests
        env:
          # REMEMBER TO ADD ENVIRONMENT VARIABLES TO tests/docker-compose.yml
          # The tests/docker-compose.yml config passes the ENV vars into the container
          RUST_BACKTRACE: "1"
        run: |
          mise run --output prefix test

      - uses: ./.github/actions/send-slack-notification
        with:
          channel: engineering
          webhook_url: ${{ env.SLACK_NOTIFICATION_WEBHOOK_URL }}

