name: Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: blacksmith-16vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-test

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: scripts/package-lock.json

      - name: Install decrypt dependencies
        working-directory: scripts
        run: npm ci

      - name: Decrypt secrets
        env:
          CS_CLIENT_KEY: ${{ secrets.CS_VAULT_CLIENT_KEY }}
          CS_CLIENT_ACCESS_KEY: ${{ secrets.CS_VAULT_CLIENT_ACCESS_KEY }}
        run: cd scripts && npm run decrypt

      - run: |
          mise run postgres:up --extra-args "--detach --wait"

      - name: Run tests
        env:
          # REMEMBER TO ADD ENVIRONMENT VARIABLES TO tests/docker-compose.yml
          # The tests/docker-compose.yml config passes the ENV vars into the container
          RUST_BACKTRACE: "1"
        run: |
          mise run --output prefix test

